<div class="wrapper">
  <button class="btn btn-primary" (click)="navigateToAddForm()">Add New Company</button>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Tax Identification Number</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr *ngFor="let company of companies" (click)="navigateToPreview(company.companyId)">
    <td class="align-middle">{{company.taxIdentificationNumber}}</td>
    <td class="align-middle">{{company.name}}</td>
    <td class="align-middle">{{company.address}}</td>
    <td class="align-midle">  <button class="btn btn-outline-danger" (click)="delete(company.companyId)"><fa-icon [icon]="faTrash"></fa-icon></button></td>
    <td class="text-center">
  </tr>
  </tbody>
</table>
