<form [formGroup]="companyUpdateFormGroup">
  <div class="form-group">
    <label for="companyId">CompanyId:</label>
    <input class="form-control" type="text" id="companyId" name="companyId"
           formControlName="companyId" aria-describedby="companyIdHelp">
    <small id="companyIdHelp" class="form-text text-muted">Company Id cannot be change</small>
  </div>
  <div class="form-group">
    <label for="taxIdentificationNumber">Tax Identification Number:</label>
    <input class="form-control" type="text" id="taxIdentificationNumber" name="taxIdentificationNumber"
            formControlName="taxIdentificationNumber">
  </div>
  <div class="form-group">
    <label for="name">Company name:</label>
    <input class="form-control" type="text" id="name" name="name"  formControlName="name">
  </div>
  <div class="form-group">
    <label for="address">Company address:</label>
    <input class="form-control" type="text" id="address" name="address"
           formControlName="address">
  </div>
  <div class="form-group">
    <label for="healthInsurance">Health Insurance:</label>
    <input class="form-control" type="text" id="healthInsurance" name="healthInsurance"
            formControlName="healthInsurance" aria-describedby="healthInsuranceHelp">
    <small id="healthInsuranceHelp" class="form-text text-muted">Pls use dot "."</small>
  </div>
  <div class="form-group">
    <label for="pensionInsurance">Pension Insurance:</label>
    <input class="form-control" type="text" id="pensionInsurance" name="pensionInsurance"
           formControlName="pensionInsurance"
           aria-describedby="pensionInsuranceHelp">
    <small id="pensionInsuranceHelp" class="form-text text-muted">Pls use dot "."</small>
  </div>
  <button class="btn btn-primary" (click)="update(company.companyId)">Save Changes</button>
  <button class="btn btn-danger" (click)="navigateToCompanyList()">Cancel Changes / Go back</button>
  <button class="btn btn-outline-danger" (click)="delete(company.companyId)">Delete company</button>
  <button class="btn btn-outline-success" (click)="navigateToTaxReport(company.companyId)">Tax Report</button>
</form>

