<h1 style="text-align: center">INVOICE</h1>

<br>
<b>Invoice Number :</b> {{invoice.invoiceNumber}}<br><br>

<b>Date of Issue :</b>  {{invoice.dateOfIssue}}<br><br>

<b>Issuer :</b><br>
{{invoice.issuer.name}}<br>
{{invoice.issuer.address}}<br>
Tax Identification Number : <br>
{{invoice.issuer.taxIdentificationNumber}}<br>

<div style="padding-left: 900px">
  <b>Receiver :</b><br>
  {{invoice.receiver.name}}<br>
  {{invoice.receiver.address}}<br>
  Tax Identification Number :<br>
  {{invoice.receiver.taxIdentificationNumber}}<br>
</div><br>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total Price</th>
    <th scope="col">Vat Rate</th>
    <th scope="col">Vat Value</th>
    <th scope="col">Car Registration Number</th>
    <th scope="col">Personal Car Use</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoiceEntry of invoice.entries">
    <td class="align-middle">{{invoiceEntry.description}}</td>
    <td class="align-middle">{{invoiceEntry.price}}</td>
    <td class="align-middle">{{invoiceEntry.quantity}}</td>
    <td class="align-middle">{{invoiceEntry.totalPrice}}</td>
    <td class="align-middle">{{invoiceEntry.vatRate}}</td>
    <td class="align-middle">{{invoiceEntry.vatValue}}</td>
    <td class="align-middle">{{invoiceEntry.carRegNo}}</td>
    <td class="align-middle">{{invoiceEntry.personalUseCar}}</td>
    <td class="text-center">
  </tr>
  </tbody>
</table>
<button class="btn btn-outline-danger" (click)="delete(invoice.invoiceId)">Delete invoice</button>
<button class="btn btn-primary">Edit</button>
<button class="btn btn-success" (click)="navigateToInvoiceList()">Go back</button>
